.App {
  text-align: center;
}
/*
--------------------------------
-------- GLOBAL SECTION --------
--------------------------------
*/

:root {
  --accent-color: #ff8a47;
  --btn-hover-color: #e77e41;
  --btn-text-color: #f3f3f3;
}

html,body {
  box-sizing: border-box;
  border: 1px solid rgb(80, 223, 241);
}

a {
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
}

a:hover {
  border-bottom: 4px solid var(--accent-color);
}

button {
  font-size: 25px;
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  width: auto;
  height: 50px;
  cursor: pointer;
}

button:hover {
  background-color: var(--btn-hover-color);
}

header {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  'navbar navbar'
  'page-title .';

  background: url(../assets/header-bg.png) no-repeat center;
  background-size: cover;
}
/*
--------------------------------
-------- REUSABLE CSS --------
--------------------------------
*/

.sectionTitle {
  font-size: 50px;
  text-align: center;
}

/*
--------------------------------
-------- HEADER SECTION --------
--------------------------------
*/

/*
----- NAVBAR------
*/
.navbar {
  grid-area: navbar;
  display: grid;
  grid-template-columns: .5fr 1fr;
  font-size: 24px;
}

.navbar img {
  margin-left: 20px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  margin: auto 0;
  list-style-type: none;
  justify-content: space-evenly;
}

/*
----- HEADER TITLE -----
*/

.pageTitle {
  grid-area: page-title;
  position: relative;
  font-size: 35px;
  justify-self: center;
  margin-top: 150px;
}
