.Textbox {
    background-color: var(--textbox-bg-color);
    border: 2px solid var(--textbox-outline-color);
    line-height: 1.5em;
    border-radius: 5px;
    padding: 20px;
    max-width: 620px;
    min-width: 300px;
    text-align: center;
  }